@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root{
    --primary: #3450F3;
    --ink: #333;
    --accent-green: #C3F499;
    --accent-orange: #FF985F;
    --accent-blue: #B6D2F1;
    --subtle: #FBFBFB;
    --invert: #fff;
}


body{
    font-family: "Sora", sans-serif;
    margin: 0;

}

.page-center{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.header-top ul{
    gap: 40px;
    list-style: none;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.header-top ul li a{
    text-decoration: none;
    color: var(--ink);
    font-size: 18px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    align-items: center;
}

button{
    border: none;
    border-radius: 100px;
    padding: 16px 24px;
    font-weight: bold;
    cursor: pointer;
}

.primary {
    background-color: var(--primary);
    color: var(--invert);
}

.hero-content{
    display: flex;
    align-items: center;
    margin-top: 104px;
    
}

.hero-content h1{
    font-size: 48px;
}

.hero-content p{
    width: 445px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 400;
}

.text-content{
    width: 526px;
}

.about .page-center {
    margin-top: 110px;
}

.about-content{
    display: flex;
    gap: 90px;
}

.about-content p {
    width: 70%;
    height: 108px;
    line-height: 36px;
    color: var(--ink);
}

.about-content p span{
    font-weight: bold;
}

.group-card{
    display: flex;
    gap: 20px;
}

.card{
    border-radius: 48px;
    padding: 24px;
    flex: 1;
    width: 550px;
}

.card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label{
    border: 1px solid var(--ink);
    padding: 10px;
    border-radius: 100px;
    width: fit-content;
}


.green{
    background-color: var(--accent-green);
}

.orange{
    background-color: var(--accent-orange);
}

.blue{
    background-color: var(--accent-blue);
}

.project-content {
    margin-top: 125px;
}

.project-content h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 52px;
}


/* Testimoni */
.testimoni-content{
    margin: 159px 0 60px 0;
    width: 1200px;
}

.testimoni-content h2{
    margin: 60px auto;
    width: 400px;
    text-align: center;
    align-items: center;
    word-wrap: break-word;
    line-height: 40px;
    font-size: 32px;
    
}

.testimoni-item{
    display: flex;
    gap: 32px;
    align-items: center;
}

.box{
    padding: 32px;
    background-color: var(--subtle);
    border-radius: 16px;
    position: relative;
}

img.bottom-quote{
    position: absolute;
    bottom: 0px;
    right: 0;
    transform: rotate(180deg);
    z-index: 9999;
    margin: 20px;
}

/* Contact */
.contact-content{
    background-image: url(assets/BannerContact.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
    margin-top: 120px;
}

/* Footer */
.footer-content{
    margin-top: 100px;
    border-top: 1px solid var(--ink);
}

.main-footer{
    display: flex;
    justify-content: space-between;
    margin: 28px 0;
}

.main-footer .footer-1{
    font-weight: 700;
    line-height: 32px;
    
}






/* Dekstop */
@media(min-width: 768px){
    .hero-content{
        gap: 40px;
    }
}




/* Mobile */
@media (max-width: 768px){
    .hero-content{
        flex-direction: column;
    }

    .about-content{
        position: relative;
    }

    .about-content img{
        position: absolute;
        right: 0;
        top: 0;
    }
}